body{
	background-image:none;
}

/* Template.. */
.navbar-default{
	background: #f8f8f8;
}

.navbar-nav{
    display: block;
    float: right;
}
hr{
    margin: 10px auto;
}


/* My.. */
.logo {
	float:left;
	/*padding:20px;*/
}

.logo > div.brand{
	font-size:2em;
	padding-top: 20px;
	padding-left: 20px;
}

.logo > div.address-bar{
	font-size:1em;
	padding-bottom: 20px;
}